<fieldset>
    <legend>{{ form.title }}</legend>
    <form id="{{ form.id }}" class="form-horizontal"
      {% for at_name, at_value in form.getAttributes() %}
        {{ at_name }}="{{ at_value }}"
      {% endfor %}
    >
        {% for widget in form.getWidgets() %}
        <div class="control-group">
            <label class="control-label" for="{{ widget.getId() }}">{{ widget.getFieldLabel() }}</label>
            {{ widget.getGenerated('html') | raw }}
        </div>
        {% endfor %}

        <div class="form-actions">
            {% for button in form.getButtons() %}
              {% if button['type'] == 'submit' %}
              <button type="submit" class="btn btn-primary">
              {% else %}
              <button type="button" class="btn" {% if button['url'] != '' %}onclick="location.href='{{ button['url'] }}'"{% endif %}>
              {% endif %}
              {{ button['label'] }}
              </button>
            {% endfor %}
        </div>
    </form>
</fieldset>
