<fieldset>
    <legend>{{ form.title }}</legend>
    <form name="{{ form.name }}" action="{{ form.action }}" method="post" class="form-horizontal">
        {% for widget in form.getWidgets() %}
        <div class="control-group">
            <label class="control-label" for="{{ widget.getId() }}">
                {{ widget.getFieldLabel() }}
            </label>
            {{ widget.getGenerated('html') | raw }}
        </div>
        {% endfor %}

        <div class="form-actions">
            {% for button in form.getButtons() %}
            <button
              {% if button['type'] == 'submit' %} type="submit" class="btn btn-primary"
              {% else %} type="button" class="btn"
                {% if button['url'] != '' %}
                onclick="location.href='{{ button['url'] }}'"
                {% endif %}
              {% endif %}
            >{{ button['label'] }}
            </button>
            {% endfor %}
        </div>
    </form>
</fieldset>
